<html>
    <head>
        <style>
            body{
                background-image: url('/static/image/c1.jpg'); 
                background-size: cover;
            }
        </style>
    </head>
    <body>
        <br>
        <br>
        <br>
        
        <h2>About Us</h2>
        <p>In order to buy the products we have to go to shop and then purchase the items.But through this system,Online Mens-Hut the users can purchase the items sitting infront of the system
            and order the items and they can recieve it by home delivery .
        </p>
        <p>
            The website contains the items related to mens-wear like shirts,shoes,wallets,watches and he can make the payment through online and can view different types,brands,quality,colours and then they can purchase if required.
            we the team of four members developed this system and modifications can be done as per the trend to day-to-day.
        </p>
    </body>
</html>