<html>

<body>
    <center>
        <form action="/updateitem" method="POST">
            <h1>Edit Items</h1>
            <table>
                    <tr>
                            
                            <td rowspan="8">
                                    <input type="image" src="{{rows[3]}}" width="350" heigth="350">    
                                </td>
                        </tr>
                        
                    <tr>
                        <td>Product ID</td>
                        <td>
                                <input type="text" name="p1" value="{{rows[0]}}" readonly>    
                            </td>
                    </tr>
                    <tr>
                            <td>
                                Product_Name
                            </td>
                            <td>  
                                    <select name="pn" value="{{rows[1]}}">
                                        <option >SHIRTS</option>
                                        <option >SHOES</option>
                                        <option>WALLETS</option>
                                        <option>BELTS</option>
                                    </select>
                            </td>
                        </tr>
                    
                            
                    <tr>
                        <td>
                            Product_Category
                        </td>
                        <td>
                                <select name="cp" value="{{rows[2]}}">
                                    <option >Party wear</option>
                                    <option>Casual Wear</option>
                                    <option>Sports Shoes</option>
                                    <option>Loafer Shoes</option>
                                    <option>Formal</option>
                                    <option>Casual Leather</option>
                                    <option>Canvax Leather</option>
                                </select>   
                         </td>
                    </tr>
                    <tr>
                            
                            <td>Product Image</td>
                            <td>
                                <input type="text" name="p3" value="{{rows[3]}}" width="350" heigth="350">    
                            </td>
                        </tr>
                    
                    <tr>
                        <td>
                            Product_Description
                        </td>
                        <td>
                                <input type="text" name="p4" value="{{rows[4]}}">    
                       
                        </td>
                    </tr>
                    <tr>
                            <td>
                                Product_Cost
                            </td>
                            <td>
                                    <input type="text" name="p5" value="{{rows[5]}}">    
                           
                            </td>
                        </tr>
                        <tr>
                                <td>
                                    Product_Size
                                </td>
                                <td>
                                        <input type="text" name="p6" value="{{rows[6]}}">    
                               
                                </td>
                            </tr>

                </table>
                <input type="submit" value="update" style="color: blue">
            </form>
    </center>
</body>
</html>