<html>
    <head>
        <style>
            body{
                background-image: url('/static/image/c2.jpg');
                background-size:cover;
            }
        </style>
    </head>
    <body>
        <br>
        <br>
        <br>
        <h2>Contact Us </h2>
        <p>
            We would like to hear from you today.
            Please contact us either by phone or email with your questions,concerns or to enquire about purchasing items of mens-wear>
        </p>
        <br>
        <h2>Mobile:</h2>
        <p>
            +91-9908064823(9.00AM-7PM IST)
        </p>
        <br>
        <h2>E-Mail:</h2>
        <p>onlinemens-hut@gmaol.com</p>
        <br>
        <h2>WhatsApp No:</h2>
        <p>+91 9666840178</p>
    </body>
</html>
